<h1>Hello, Rails!</h1>
<% if user_signed_in? %>
  <li><%= link_to 'LogOUT', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>

<%= link_to 'My Blog', controller: 'articles' %>
