/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

 .isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
   
  }
  .isa_info {
      color: #00529B;
      background-color: #BDE5F8;
  }
  .isa_success {
      color: #4F8A10;
      background-color: #DFF2BF;
  }
  .isa_warning {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .isa_error {
      color: #D8000C;
      background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  }

 body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    background: #f2f5f8;
    font-weight: 300;
  }

  .app-header {
    margin-bottom: 3em;
    padding: 1.5em 0;
    background: rgba(53, 144, 202, 0.95);
    position: relative;
  }
  
  a {
    text-decoration: none;
  }
  
  .app-cont {
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .app-cont-thin {
    max-width: 650px;
    background: #fff;
    padding: 1em 0;
    border-radius: 3px;
  }

  .container input[type="submit"] {
    height: 30px;
    font-size: 13px;
    background-color: #f55e55;
    border: none;
    color: #fff;
  }
  
  .label {
    color: white;
    padding: 8px;
  }

  strong {
    font-weight: bold;
  }

  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 5px 10px;
  }

  .header a {
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px; 
  }

  /* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
  